numpy==1.26.4pickleshare==0.7.5scikit-learn==1.6.1streamlit==1.37.1json5==0.9.6jsonpatch==1.33jsonpointer==2.1jsonschema==4.23.0jsonschema-specifications==2023.7.1pandas==2.2.2matplotlib==3.9.2matplotlib-inline==0.1.6